.navbar {
  bottom: 0;

  padding: 0.0625rem 1.5rem 0.0625rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);

  color: white;

  display: flex;
  align-items: center;
  justify-items: center;
}

@media only screen and (max-device-width: 800px){
  .navbarbutton {
    display: none;
  }
}

@media only screen and (max-device-width: 800px){
/* Styles */
  .navbarbutton {
    display: none;
  }
}

.logotype {
  font-weight: 700;
  margin-right: 2rem;
}

.navbarbuttons {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  font-weight: 300;
}

.navbarbutton {
  transition: color 0.125s ease;
  color: white;
  filter: brightness(1); 
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.navbarbutton:hover {
  transition: color 0.125s ease;
  color: var(--accent-color);
}

.navbarbutton:active {
  filter: brightness(0.5);
}

.navbarbutton:not(:last-child) {
  margin-right: 3rem;
  margin-bottom: 0rem;
}

.navbarbutton_active {
  composes: navbarbutton;
  color: black;
  background-color: var(--accent-color);
}

.navbarbutton_active:hover {
  background-color: black;
}

.navbarbutton_active:active {
  background-color: white;
}

.shopping_cart_icon {
  width: 24px;
  transition: color 0.125s ease;
  color: white;
}

@media only screen and (max-device-width: 800px) {
  .menu_icon {
    display: block;
  }
}

.shopping_cart_icon:hover {
  transition: color 0.125s ease;
  color: var(--accent-color);
}

.menu_icon {
  composes: shopping_cart_icon;
  margin-left: 0;
  margin-right: 1rem;
  display: none;
}