.navbar {
  bottom: 0;

  padding: 0.0625rem 1.5rem 0.0625rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);

  color: white;

  display: flex;
  align-items: center;
  justify-items: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px){
  .navbarbutton {
    display: none;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 667px){
/* Styles */
  .navbarbutton {
    display: none;
  }
}

.logotype {
  font-weight: 700;
  margin-right: 2rem;
}

.navbarbuttons {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.navbarbutton {
  transition: color 0.125s ease;
  color: white;
  filter: brightness(1); 
}

.navbarbutton:hover {
  transition: color 0.125s ease;
  color: var(--accent-color);
}

.navbarbutton:active {
  filter: brightness(0.5);
}

.navbarbutton:not(:last-child) {
  margin-right: 3rem;
  margin-bottom: 0rem;
}

.navbarbutton_active {
  composes: navbarbutton;
  color: var(--accent-color);
}

.shopping_cart_icon {
  width: 24px;
  transition: color 0.125s ease;
  color: white;
}

.shopping_cart_icon:hover {
  transition: color 0.125s ease;
  color: var(--accent-color);
}