.product_glass_pane {
  position: absolute;
  top: calc(27vh - 4rem);
  left: calc(10% - 4rem);
  margin: 4rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
}

.product_heading {
  font-weight: 800;
  font-size: 5rem;
  background: rgba(255, 255, 255, 0.625);
  margin: 0;
  margin-left: -1.25rem;
  margin-bottom: 1.25rem;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  backdrop-filter: blur(2px);
}

.caption {
  max-width: 32ch;
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}

@media only screen and (min-device-width: 0px) and (max-device-width: 1279px){
/* Styles */
  .product_glass_pane {
    top: 0;
    left: 0;
    margin: 1rem;
    top: 0rem;
  }

  .product_heading {
    display: none;
  }

  .caption {
    font-size: 1rem;
    font-weight: 300;
  }
}

.shop_button {
  transition: background-color 100ms ease;
  background: black;
  color: white;
  font-weight: 800;
  padding: 0.25rem 0.625rem 0.25rem 0.625rem;
  margin-top: 1.25rem;
}

.shop_button:active {
  filter: brightness(0.5);
}

.shop_button:hover {
  transition: background-color 100ms ease;
  background: var(--accent-color);
}